/* Color Theme Swatches in Hex 
.defocused-red--lights-background-1-hex { color: #F2CED8; }
.defocused-red--lights-background-2-hex { color: #F2A2C0; }
.defocused-red--lights-background-3-hex { color: #F20574; }
.defocused-red--lights-background-4-hex { color: #F26BAA; }
.defocused-red--lights-background-5-hex { color: #F291BF; }*/




html{ 
    background: #F291BF;
    color:#F20574;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    
}

h1,h2,h3{
    text-align: center;
}

p {
  text-indent: 1em;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

.summary{
    text-align: center;
}

.main p{ 
    line-height: 1.5;
}


abbr {
  font-variant: small-caps;
}
