#F20574 destaque
#F26BAA fonte
#F291BF fundo


/*.defocused-red--lights-background-1-hex { color: #F2CED8; }
.defocused-red--lights-background-2-hex { color: #F2A2C0; }*/
.destaque  { color: #F20574; }
.fonte { color: #F26BAA; }
.fundo { color: #F291BF; }


